{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
  <link rel="stylesheet" href="{% static 'app.css' %}">
{% endblock css %}

{% block content %}
  <div class="stack">
    <div class="stack--card">Show pie chart here</div>

    <div class="stack--form aligner noselect" id="main-form">
      <form class="aligner--child">
        <input type="number" name="value" step="0.01" min="0" class="money-input glow-input">

        <button type="submit" class="submit-button">
          <span class="submit-button--text submit-button--text__income">+</span>
          <span class="submit-button--text submit-button--text__expense">-</span>
        </button>
      </form>
    </div>
  </div>
{% endblock content %}

{% block js %}
  <script type="text/javascript" src="{% static 'bower/swing/dist/browser/swing.js' %}"></script>
  <script type="text/javascript" src="{% static 'app.js' %}"></script>
{% endblock js %}